/*CSS reset settings here*/
*{
	margin: 0px;
	padding: 0px;
}
#wrapper{
	width: 950px;
	background-color: silver;
	margin: 0px auto;
	padding-top: 10px;
}
#header{
	min-height: 150px;
	background-color: green;
	margin: 20px;
}
#navigation{
	min-height: 300px;
	width: 200px;
	background-color: blue;
	display: inline-block;
	margin-left: 20px;
}
#main_content{
	min-height: 400px;
	width: 685px;
	background-color: red;
	display: inline-block;
	margin-left: 20px;
	vertical-align: top;
	margin-bottom: 20px;
}
.subcontents{
	min-height: 200px;
	width: 197px;
	background-color: yellow;
	display: inline-block;
	margin-left: 20px;
	margin-top: 20px;
	margin-left: 20px;
}
#advertisement{
	min-height: 120px;
	width: 640px;
	background-color: purple;
	margin-left: 20px;
	vertical-align: bottom;
	margin-top: 20px;
}